<!-- NOTE: All inline styles should be removed prior to implimentation -->
<h3>Generic Table</h3>
<table summary="A Generic Table">
  <caption>This is a Generic Table Caption.</caption>
  <thead>
    <tr>
      <th scope="col">Column 1 content</th>
      <th scope="col">Column 2 content</th>
      <th scope="col">Column 3 content</th>
      <th scope="col">Column 4 content</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Row 1 content</td>
      <td>Row 1 content</td>
      <td>Row 1 content</td>
      <td>Row 1 content</td>
    </tr>
    <tr>
      <td>Row 2 content</td>
      <td>Row 2 content</td>
      <td>Row 2 content</td>
      <td>Row 2 content</td>
    </tr>
    <tr>
      <td>Row 3 content</td>
      <td>Row 3 content</td>
      <td>Row 3 content</td>
      <td>Row 3 content</td>
    </tr>
    <tr>
      <td>Row 4 content</td>
      <td>Row 4 content</td>
      <td>Row 4 content</td>
      <td>Row 4 content</td>
    </tr>
  </tbody>
</table>

<h3 style="margin-top: 50px">Generic Table with row headers</h3>
<table summary="A Generic Table with row headers">
  <caption>Generic Table with row headers Caption.</caption>
  <thead>
    <tr>
      <th scope="col">Column 1</th>
      <th scope="col">Column 2</th>
      <th scope="col">Column 3</th>
      <th scope="col">Column 4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Row 1</th>
      <td>Row 1</td>
      <td>Row 1</td>
      <td>Row 1</td>
    </tr>
    <tr>
      <th scope="row">Row 2</th>
      <td>Row 2</td>
      <td>Row 2</td>
      <td>Row 2</td>
    </tr>
    <tr>
      <th scope="row">Row 3</th>
      <td>Row 3</td>
      <td>Row 3</td>
      <td>Row 3</td>
    </tr>
    <tr>
      <th scope="row">Row 4</th>
      <td>Row 4</td>
      <td>Row 4</td>
      <td>Row 4</td>
    </tr>
  </tbody>
</table>
