<header class="sample-header">
    <nav class="sample-nav" aria-label="Header Menu">
        <ul>
            <li><a href="https://www.google.com/">Lorem</a></li>
            <li><a href="https://www.google.com/">Ipsum</a></li>
            <li><a href="https://www.google.com/">Dolar</a></li>
            <li><a href="https://www.google.com/">Set</a></li>
        </ul>
    </nav>
</header>
<main id="main" class="sample-main">
    <section class="sample-hero" style="background-image: url(https://via.placeholder.com/1200x300)">
        <div class="sample-hero__overlay">
            <h1 class="h3">Page Title</h1>
            <p>High-level description for the page. Component maybe a hero. Could be a carousel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin leo quis sapien mollis faucibus.</p>
        </div>
    </section>
    <section>
        <h2 class="h3">Section Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit dolor fringilla ipsum vehicula semper. Sed hendrerit nibh in metus egestas interdum. Cras ultricies venenatis nulla, vitae ullamcorper ex aliquet at. Cras ultricies erat egestas dolor bibendum, eu facilisis tortor euismod.</p>
    </section>
    <section>
        <h2 class="h4">Related Content</h2>
        <ul class="sample-article-list">
            <li>
                <article class="sample-article">
                    <div class="sample-article__image">
                        <img src="https://via.placeholder.com/400x200" alt="Lorem ipsum" />
                    </div>
                    <div class="sample-article__content">
                        <h3 class="h6">Article Title</h3>
                        <p>Article description here. w3schools states that articles should make sense on thier own. As a general rule of thumb, you should beable to use this component outside of the context of this list.</p>
                    </div>
                </article>
            </li>
            <li>
                <article class="sample-article">
                    <div class="sample-article__image">
                        <img src="https://via.placeholder.com/400x200" alt="Lorem ipsum" />
                    </div>
                    <div class="sample-article__content">
                        <h3 class="h6">Article Title</h3>
                        <p>Article description here. w3schools states that articles should make sense on thier own. As a general rule of thumb, you should beable to use this component outside of the context of this list.</p>
                    </div>
                </article>
            </li>
            <li>
                <article class="sample-article">
                    <div class="sample-article__image">
                        <img src="https://via.placeholder.com/400x200" alt="Lorem ipsum" />
                    </div>
                    <div class="sample-article__content">
                        <h3 class="h6">Article Title</h3>
                        <p>Article description here. w3schools states that articles should make sense on thier own. As a general rule of thumb, you should beable to use this component outside of the context of this list.</p>
                    </div>
                </article>
            </li>
        </ul>
    </section>
</main>
<footer class="sample-footer">
    <nav class="sample-nav" aria-label="Footer Menu">
        <ul>
            <li><a href="https://www.google.com/">Lorem</a></li>
            <li><a href="https://www.google.com/">Ipsum</a></li>
            <li><a href="https://www.google.com/">Dolar</a></li>
            <li><a href="https://www.google.com/">Set</a></li>
        </ul>
    </nav>
</footer>
