{% for nav in navElements %}
  <nav aria-label="pagination">
    <ul class="pagination">
      {% if nav.type == 'text' %}
        <li class="pagination__item pagination__item--previous-page">
          <a href="#" class="pagination__link">Previous Page</a>
        </li>
      {% elseif nav.type == 'arrow' %}
        <li class="pagination__item pagination__item--previous-page">
          <a href="#" class="pagination__link">
            <span class="u-sr-only">Previous Page</span>
            <svg viewbox="0 0 7 13" class="pagination__nav-arrow pagination__nav-arrow--previous" xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true">
              <path d="M4.222 6.496L7 9.276v3.72l-6.5-6.5L7 0v3.721" fill-rule="evenodd"></path>
            </svg>
          </a>
        </li>
      {% endif %}
      {% for listItem in nav.listGroup %}
        {% if listItem.defaultPage %}
          <li class="pagination__item pagination__item--is-current">
            <span class="pagination__link" aria-current="page">
              <span class="u-sr-only">page </span>{{ loop.index }}
            </span>
          </li>
        {% else %}
          <li class="pagination__item">
            <a href="{{ listItem.href }}" class="pagination__link">
              <span class="u-sr-only">page </span>{{ loop.index }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
      {% if nav.type == 'text' %}
        <li class="pagination__item pagination__item--next-page">
          <a href="#" class="pagination__link">Next Page</a>
        </li>
      {% elseif nav.type == 'arrow' %}
        <li class="pagination__item pagination__item--next-page">
          <a href="#" class="pagination__link">
            <span class="u-sr-only">Next Page</span>
            <svg viewbox="0 0 7 13" class="pagination__nav-arrow pagination__nav-arrow--next" xmlns="http://www.w3.org/2000/svg" role="presentation" aria-hidden="true">
              <path d="M4.222 6.496L7 9.276v3.72l-6.5-6.5L7 0v3.721" fill-rule="evenodd"></path>
            </svg>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endfor %}
