<section class="cta">
    <div class="cta__inner">
        <h2 class="cta__header">{{ heading }}</h2>
        <p>{{ paragraph }}</p>
        <a href="{{ link.url }}" class="btn">{{ link.text }}</a>
    </div>
</section>
