<!-- All markup in this file is FPO -->

<h2>Margin:</h2>

<div class="style-guide__spacing-container">
  <div class="style-guide__spacing-item-container style-guide__spacing-item-container--margin">
    <div class="style-guide__spacing-item u-flex-center u-margin-md">Margin</div>
  </div>
  <div class="style-guide__spacing-item-container style-guide__spacing-item-container--margin">
    <div class="style-guide__spacing-item u-flex-center u-margin-top-md">Margin top</div>
  </div>
  <div class="style-guide__spacing-item-container style-guide__spacing-item-container--margin">
    <div class="style-guide__spacing-item u-flex-center u-margin-right-md">Margin right</div>
  </div>
  <div class="style-guide__spacing-item-container style-guide__spacing-item-container--margin">
    <div class="style-guide__spacing-item u-flex-center u-margin-bottom-md">Margin bottom</div>
  </div>
  <div class="style-guide__spacing-item-container style-guide__spacing-item-container--margin">
    <div class="style-guide__spacing-item u-flex-center u-margin-left-md">Margin left</div>
  </div>
</div>

<h2>Padding:</h2>

<div class="style-guide__spacing-container">
  <div class="style-guide__spacing-item-container style-guide__spacing-item-container--padding u-padding-sm">
    <div class="style-guide__spacing-item u-flex-center">Padding Small</div>
  </div>
  <div class="style-guide__spacing-item-container style-guide__spacing-item-container--padding u-padding-md">
    <div class="style-guide__spacing-item u-flex-center">Padding Medium</div>
  </div>
  <div class="style-guide__spacing-item-container style-guide__spacing-item-container--padding u-padding-lg">
    <div class="style-guide__spacing-item u-flex-center">Padding Large</div>
  </div>
  <div class="style-guide__spacing-item-container style-guide__spacing-item-container--padding u-padding-top-md">
    <div class="style-guide__spacing-item u-flex-center">Padding top</div>
  </div>
  <div class="style-guide__spacing-item-container style-guide__spacing-item-container--padding u-padding-right-md">
    <div class="style-guide__spacing-item u-flex-center">Padding right</div>
  </div>
  <div class="style-guide__spacing-item-container style-guide__spacing-item-container--padding u-padding-bottom-md">
    <div class="style-guide__spacing-item u-flex-center">Padding bottom</div>
  </div>
  <div class="style-guide__spacing-item-container style-guide__spacing-item-container--padding u-padding-left-md">
    <div class="style-guide__spacing-item u-flex-center">Padding left</div>
  </div>
</div>
