<nav aria-label="breadcrumb">
  <ol class="breadcrumbs">
    <li class="breadcrumbs__breadcrumb">
      <a href="#" class="breadcrumbs__breadcrumb-link">Home</a>
    </li>
    <li class="breadcrumbs__breadcrumb">
      <a href="#" class="breadcrumbs__breadcrumb-link">Parent</a>
    </li>
    <li class="breadcrumbs__breadcrumb">
      <span class="breadcrumbs__breadcrumb-link" aria-current="page">Child</span>
    </li>
  </ol>
</nav>
