<div class="sample-area" data-tooltip-area>
    {% if sampleMode == true %}
        <h3>Mouse Over Me</h3>
    {% endif %}
    <div class="tooltip" data-tooltip aria-expanded="false" tabindex="0">{{content}}</div>
</div>
