<h5>Loading Graphic | Page</h5>
<div class="has-loader style-guide__loading-indicator">
	<div class="style-guide__loader-content">Some Content</div>
	<div class="loading-graphic__container loading-graphic__container--overlay" role="alert" aria-live="assertive">
		<div class="loading-graphic__inner">
			<div class="loading-graphic__rings"></div>
			<p class="u-sr-only">Content is loading...</p>
		</div>
	</div>
</div>

<h5>Loading Graphic | Text Input</h5>
<form class="sample-inputs">
	<fieldset class="has-loader full">
		<div class="input__wrapper input__wrapper--loading sample-search-wrap" role="alert" aria-live="polite">
			<label for="searchSampleL">Search (With Label)</label>
			<input type="search" name="searchSampleL">
			<div class="loading-graphic__container loading-graphic__container--sm">
				<div class="loading-graphic__inner">
					<div class="loading-graphic__rings"></div>
					<p class="u-sr-only">Content is loading...</p>
				</div>
			</div>
		</div>
	</fieldset>
</form>
