<!-- All markup in this file is FPO -->

<p>Default styling:</p>
<ul class="style-guide__list-layout-list style-guide__list-layout-list--default">
  <li>List Item 1</li>
  <li>List Item 2</li>
  <li>List Item 3</li>
  <li>List Item 4</li>
</ul>

<p>Unstyled utility class:</p>
<ul class="style-guide__list-layout-list style-guide__list-layout-list--unstyled u-list-unstyled">
  <li>List Item 1</li>
  <li>List Item 2</li>
  <li>List Item 3</li>
  <li>List Item 4</li>
</ul>

<p>Inline utility class:</p>
<ul class="style-guide__list-layout-list style-guide__list-layout-list--inline u-list-inline">
  <li>List Item 1</li>
  <li>List Item 2</li>
  <li>List Item 3</li>
  <li>List Item 4</li>
</ul>
