<!-- Not Tested. For use in Fractal/Twig migration - Greg S. -->
<div
    class="accordion"
    data-accordion-container
    data-accordion-config-single="{{ accordion.config.single }}"
>
    {% for item in panels %}
        <article class="accordion__panel" data-accordion-panel>
            <h3 class="accordion__header">
                <button
                    class="accordion__button h4"
                    data-accordion-button
                    aria-expanded="false"
                >
                  {{ item.heading }}
                  <svg class="accordion__arrow" viewBox="0 0 407.437 407.437" role="presentation" aria-hidden="true">
                    <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/>
                  </svg>
                </button>
            </h3>
            <div
                class="accordion__window"
                data-accordion-window
            >
                <div
                    class="accordion__content"
                    data-accordion-content
                >
                    {{ item.content | raw }}
                </div>
            </div>
        </article>
    {% endfor %}
</div>
