// Generated Stylesheet
@import '~variables';
@import '~mixins';
@import '~functions';

.tabs-to-accordion {

  &__list {
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  &__list-item {
    display: block;
    margin: 0;
    list-style: none;
    font-size: 0;

    @media (min-width: $breakpoint-sm) {
      display: inline-block;
    }
  }

  &__list-item + &__list-item {
    @media (min-width: $breakpoint-sm) {
      border-left: 1px solid color(neutral, lighter);
    }
  }

  &__button {
    display: block;
    border: 0;
    border-bottom: 1px solid color(neutral, lighter);
    padding: 10px 20px;
    width: 100%;
    background-color: color(neutral, lightest);
    cursor: pointer;
    appearance: none;

    @media (min-width: $breakpoint-sm) {
      border-top: 1px solid color(neutral, lighter);
    }

    &[aria-selected='true'] {
      background-color: color(default, light);

      @media (min-width: $breakpoint-sm) {
        border-bottom: 0;
      }
    }
  }

  &__button[aria-selected='true'] + &__panel {
    display: block;
  }

  &__panel {
    display: none;

    &[data-tabs-panel-active='true'] {
      display: block;
    }
  }
}
