<form class="form">
  <fieldset>
    <legend class="h3">Select Input Example</legend>
    <ul class="u-list-unstyled">
      <li class="form__item">
        <div class="input__wrapper">
          <label for="select-sample">Select</label>
          <select name="select-sample">
            <option value="lorem">Lorem</option>
            <option value="ipsum">Ipsum</option>
            <option value="dolar">Dolar</option>
            <option value="set">Set</option>
          </select>
        </div>
        <!-- /.input__wrapper -->
      </li>
      <!-- /.form__item -->
    </ul>
  </fieldset>
  <fieldset>
    <legend class="h3">Select State Examples (FPO)</legend>
    <ul class="u-list-unstyled">
      <li class="form__item">
        <div class="input__wrapper">
          <label for="select-hover-sample">Hover State</label>
          <select class="hovered" name="select-hover-sample">
            <option value="lorem">Lorem</option>
            <option value="ipsum">Ipsum</option>
            <option value="dolar">Dolar</option>
            <option value="set">Set</option>
          </select>
        </div>
        <!-- /.input__wrapper -->
      </li>
      <!-- /.form__item -->
      <li class="form__item">
        <div class="input__wrapper">
          <label for="select-focus-sample">Focus State</label>
          <select class="focused" name="select-focus-sample">
            <option value="lorem">Lorem</option>
            <option value="ipsum">Ipsum</option>
            <option value="dolar">Dolar</option>
            <option value="set">Set</option>
          </select>
        </div>
        <!-- /.input__wrapper -->
      </li>
      <!-- /.form__item -->
      <li class="form__item">
        <div class="input__wrapper">
          <label for="select-disabled-sample">Disabled State</label>
          <select name="select-disabled-sample" disabled>
            <option value="lorem">Lorem</option>
            <option value="ipsum">Ipsum</option>
            <option value="dolar">Dolar</option>
            <option value="set">Set</option>
          </select>
        </div>
        <!-- /.input__wrapper -->
      </li>
      <!-- /.form__item -->
      <li class="form__item">
        <div class="input__wrapper has-error">
          <label for="select-error-sample">Error State</label>
          <select name="select-error-sample">
            <option value="lorem">Lorem</option>
            <option value="ipsum">Ipsum</option>
            <option value="dolar">Dolar</option>
            <option value="set">Set</option>
          </select>
          <p class="input__error-message">This is a sample error message.</p>
        </div>
        <!-- /.input__wrapper -->
      </li>
      <!-- /.form__item -->
    </ul>
  </fieldset>
</form>
<!-- /.form -->
