<header class="dropdown-nav" aria-label="Main Menu Navigation"  data-nav-container>
  <div class="dropdown-nav__inner">
    <nav class="dropdown-nav__menu" role="navigation">
      <div class="dropdown-nav__toggle-container">
        <button class="btn dropdown-nav__toggle" aria-haspopup="true" aria-expanded="false" aria-controls="main-menu" data-nav-toggle>Menu</button>
      </div>
      <div class="dropdown-nav__list-container" data-nav-list-container>
        <ul class="dropdown-nav__list" id="main-menu" aria-label="Main Menu Items" data-nav-list>
          <li class="dropdown-nav__item" data-dropdown-item>
            <a href="/" class="dropdown-nav__link" aria-controls="lorem-submenu" data-dropdown-link data-has-popup>
                Lorem
              <svg class="dropdown-nav__arrow" viewBox="0 0 407.437 407.437" role="presentation" aria-hidden="true">
                  <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/>
              </svg>
            </a>
            <button class="sub-nav__toggle" aria-controls="lorem-submenu" data-subnav-toggle>
              <span class="u-sr-only">Toggle Subnav</span>
              <svg class="sub-nav__arrow" viewBox="0 0 407.437 407.437" role="presentation" aria-hidden="true">
                  <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/>
              </svg>
            </button>
            <div class="dropdown-nav__sub-list-container" data-sub-list-container>
              <ul class="dropdown-nav__sub-list" id="lorem-submenu" aria-label="Lorem Submenu" data-sub-list>
                <li class="dropdown-nav__sub-item">
                  <a href="/" class="dropdown-nav__sub-link">Lorem</a>
                </li>
                <li class="dropdown-nav__sub-item">
                  <a href="/" class="dropdown-nav__sub-link">Ipsum</a>
                </li>
                <li class="dropdown-nav__sub-item">
                  <a href="/" class="dropdown-nav__sub-link">Dolar</a>
                </li>
                <li class="dropdown-nav__sub-item">
                  <a href="/" class="dropdown-nav__sub-link">Set</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="dropdown-nav__item" data-dropdown-item>
            <a href="/" class="dropdown-nav__link" data-dropdown-link>Ipsum</a>
          </li>
          <li class="dropdown-nav__item" data-dropdown-item>
            <a href="/" class="dropdown-nav__link" data-dropdown-link>Dolar</a>
          </li>
          <li class="dropdown-nav__item" data-dropdown-item>
            <a href="/" class="dropdown-nav__link" aria-controls="amet-submenu" data-dropdown-link data-has-popup>Amet
              <svg class="dropdown-nav__arrow" viewBox="0 0 407.437 407.437" role="presentation" aria-hidden="true">
                  <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/>
              </svg>
            </a>
            <button class="sub-nav__toggle" aria-controls="amet-submenu" data-subnav-toggle>
              <span class="u-sr-only">Toggle Subnav</span>
              <svg class="sub-nav__arrow" viewBox="0 0 407.437 407.437" role="presentation" aria-hidden="true">
                  <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/>
              </svg>
            </button>
            <div class="dropdown-nav__sub-list-container" data-sub-list-container>
              <ul class="dropdown-nav__sub-list" id="amet-submenu" aria-label="Amet Submenu" data-sub-list>
                <li class="dropdown-nav__sub-item">
                  <a href="/" class="dropdown-nav__sub-link">Lorem</a>
                </li>
                <li class="dropdown-nav__sub-item">
                  <a href="/" class="dropdown-nav__sub-link">Ipsum</a>
                </li>
                <li class="dropdown-nav__sub-item">
                  <a href="/" class="dropdown-nav__sub-link">Dolar</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="dropdown-nav__item" data-dropdown-item>
            <a href="/" class="dropdown-nav__link" aria-controls="faucibus-submenu"data-dropdown-link data-has-popup>Faucibus
              <svg class="dropdown-nav__arrow" viewBox="0 0 407.437 407.437" role="presentation" aria-hidden="true">
                  <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/>
              </svg>
            </a>
            <button class="sub-nav__toggle" aria-controls="faucibus-submenu" data-subnav-toggle>
              <span class="u-sr-only">Toggle Subnav</span>
              <svg class="sub-nav__arrow" viewBox="0 0 407.437 407.437" role="presentation" aria-hidden="true">
                  <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "/>
              </svg>
            </button>
            <div class="dropdown-nav__sub-list-container" data-sub-list-container>
              <ul class="dropdown-nav__sub-list" id="faucibus-submenu" aria-label="Faucibus Submenu" data-sub-list>
                <li class="dropdown-nav__sub-item">
                  <a href="/" class="dropdown-nav__sub-link">Ipsum</a>
                </li>
                <li class="dropdown-nav__sub-item">
                  <a href="/" class="dropdown-nav__sub-link">Dolar</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- /.container -->
    </nav>
  </div>
</header>
